.beowulf--container {
    transition: 1s ease all;
}

.beowulf {
    @include font-insular-variant;

    p:first-of-type:first-letter {
        @include font-small-caps;
        color: $accent-color--light;
        float: left;
        font-size: 5rem;
        line-height: 3.5rem;
        padding-top: .25rem;
        padding-right: .5rem;
        padding-left: .1875rem;
        font-weight: normal;
        margin-bottom: $font-margin--bottom;

        @media screen and (min-width: 48rem) {
            font-size: 6.25rem;
            line-height: 4.375rem;
        }

        &::-moz-selection {
            background: rgba(224,175,51,0.5);
            color: $accent-color--light;
        }

        &::selection {
            background: rgba(224,175,51,0.5);
            color: $accent-color--light;
        }
    }

    p:last-of-type {
        margin-bottom: $font-margin--bottom * 2;

        @media screen and (min-width: 48rem) {
            margin-bottom: $font-margin--bottom * 3;
        }
    }
}