.beowulf {
    p:first-of-type:first-letter {
        font-family: $font-family--2;
        color: $accent-color--light;
        float: left;
        font-size: 70px;
        line-height: 55px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-weight: normal;
        margin-bottom: $font-margin--bottom;

        @media screen and (min-width: 768px) {
            font-size: 88px;
            line-height: 70px;
        }
    }

    p:last-of-type {
        margin-bottom: $font-margin--bottom * 2;

        @media screen and (min-width: 768px) {
            margin-bottom: $font-margin--bottom * 3;
        }
    }
}