input[type="submit"],
button,
.btn {
    -webkit-appearance: none;
    @include base-font-style;
    min-width: 9.375rem;
    @include font-small-caps;
    padding: 0rem 1.875rem;
    background-color: $accent-color;
    color: $main-color--light;
    -webkit-text-fill-color: $main-color--light;
    border: .1875rem solid $main-color--light;
    outline: .125rem solid $accent-color;
    position: relative;
    transition: $transition;
    letter-spacing: .0625rem;
    -webkit-tap-highlight-color: $main-color--translucent;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: $transition;
        background-image: url("../assets/images/noun_Celtic Knot_676659.svg");
        background-size: 3.125rem;
        background-position: center 31%;
        background-repeat: repeat-x;
        filter: invert(100%);
        mix-blend-mode: soft-light;
    }

    &:active,
    &:focus,
    &:hover {
        cursor: pointer;
        color: $main-color;
        -webkit-text-fill-color: $main-color;
        border-color: $main-color;

        &:after {
            opacity: 0.35;
        }
    }

    &:focus {
        outline: .5625rem double $accent-color;
    }
}

/* TOOLTIP */
.tooltip {
    position: relative;
    display: inline-block;

    .tooltip__text {
        width: 9.375rem;
        background-color: $shade__dark--2;
        color: $main-color;
        text-align: center;
        border-radius: .375rem;
        padding: .3125rem;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -4.6875rem;
        transition: opacity 0.3s;

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -0.3125rem;
            border-width: .3125rem;
            border-style: solid;
            border-color: $shade__dark--2 transparent transparent transparent;
        }
    }
}