@font-face {
    font-family: "Pfeffer Mediæval";
    src: url("../assets/fonts/PfefferMediaeval.otf") format("opentype");
    font-weight: 400;
}

@mixin base-font-style {
    font-family: $font-family;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: bold;
    letter-spacing: .0125rem;

    @media screen and (min-width: 48rem) {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
}

@mixin font-small-caps {
    font-feature-settings: 'smcp';
    letter-spacing: .05ch;
}

@mixin font-insular-variant {
    font-feature-settings: 'hist', 'ss02';
}

body {
    @include base-font-style;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-small-caps;
}

h1 {
    font-size: 2.75rem;
    line-height: 3.5rem;
    margin-bottom: $font-margin--bottom;

    @media screen and (min-width: 48rem) {
        font-size: 3.4375rem;
        line-height: 4.375rem;
    }
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: $font-margin--bottom;

    @media screen and (min-width: 48rem) {
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
}

h3 {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: $font-margin--bottom;

    @media screen and (min-width: 48rem) {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

h4,
h5,
h6 {
    @include base-font-style;
    margin-bottom: $font-margin--bottom;
}

p {
    @include base-font-style;
    margin-bottom: $font-margin--bottom;
}

a {
    color: $accent-color;
    transition: $transition;
    text-decoration: underline;
    text-underline-offset: .3em;
    text-decoration-thickness: .1em;

    &:focus,
    &:hover {
        color: $accent-color--light;
        text-decoration-style: double;
    }

    &:focus {
        outline: .1875rem solid $accent-color--light;
        outline-offset: .1875rem;
    }
}

.lede,
.tip {
    font-feature-settings: 'ss01';
}

.tip {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $accent-color--light;
    margin-bottom: 0;

    @media screen and (min-width: 48rem) {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }
}

small,
.small {
    font-size: .9rem;
    line-height: 1.125rem;

    @media screen and (min-width: 48rem) {
        font-size: 1rem;
        line-height: 1.3125rem;
    }
}

.main-title {
    text-align: center;
}

.text--lighter {
    color: $accent-color--light;
}

.text--gradient {
    background: $base-color--dark; // Fallback
    background: linear-gradient(
        90deg,
        $accent-color--dark 0%,
        $accent-color--light 50%,
        $accent-color--dark 100%
    );
    color: $shade__light--1; // Fallback
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-moz-selection {
    background: rgba(224, 175, 51, .5);
    color: $accent-color--light;
}

::selection {
    background: rgba(224, 175, 51, .5);
    color: $accent-color--light;
}
