$main-color: goldenrod;
$main-color--light: #c5a95b;
$main-color--dark: darkgoldenrod;
$alt-color: darkred;

$shade__light--1: #D8D8D8;
$shade__dark--1: #282828;

// Font families
$font-family--1: 'Almendra', Times New Roman, serif;
$font-family--2: 'Almendra SC', Times New Roman, serif;

// Font colors
$font-color--1: $shade__dark--1;
$font-color--2: $alt-color;
$font-color--3: $shade__light--1;
