$width--1: 58.75rem;

$base-color: #c5a95b;
$base-color--mid: #9f956c;
$base-color--dark: #584d3d;

$main-color: #e0af33;
$main-color--light: goldenrod;
$main-color--lighter: gold;
$main-color--dark: darkgoldenrod;
$main-color--translucent: rgba(224,175,51,.5);

$accent-color: #5a0001;
$accent-color--light: #780000;
$accent-color--dark: #3a000b;

$shade__light--1: #d8d8d8;
$shade__light--2: #cfcfcf;
$shade__light--3: #bfbfbf;
$shade__light--4: #aeaeae;

$shade__dark--1: #282828;
$shade__dark--2: rgba(40,40,40,.8);

// Font families
$font-family: 'Pfeffer Mediæval', Times New Roman, serif;

// Font colors
$font-color--1: $accent-color--dark;
$font-color--2: $accent-color;
$font-color--3: $shade__light--1;

// Font margins
$font-margin--bottom: 1.25rem;

// Transitions
$transition: .3s ease all;